
<table class="tx-newssync" >
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.title" />
		</td>
		<td>
			{syncConfiguration.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.uri" />
		</td>
		<td>
			{syncConfiguration.uri}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.description" />
		</td>
		<td>
			{syncConfiguration.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.processingfolder" />
		</td>
		<td>
			{syncConfiguration.processingfolder}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.lastsync" />
		</td>
		<td>
			{syncConfiguration.lastsync -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newssync_domain_model_syncconfiguration.lastsynclog" />
		</td>
		<td>
			{syncConfiguration.lastsynclog}
		</td>
	</tr>
</table>