services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false


  Fourviewture\Newssync\:
    resource: '../Classes/*'

  Fourviewture\Newssync\Services\Provider\:
    resource: '../Classes/Services/Provider/*'
    autowire: true
    autoconfigure: true
    public: true

  Fourviewture\Newssync\Command\SyncAllCommandController:
    tags:
      - name: 'console.command'
        command: 'newssync:syncAll'
        schedulable: true
